body > section {
  padding-bottom: 100px;
}

#welcomeScreen {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin-bottom: 56px;
  background-image: url(../images/narkomfin.jpeg);
  background-size: cover;
}

#welcomeScreen article {
  margin: auto;
}

.articleGroup,
#welcomeScreen h1,
#welcomeScreen p {
  width: 700px;
  margin: 0 auto;
}

#welcomeScreen h1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -2.4px;
}

.articleGroup {
  padding-top: 44px;
}

.articleGroup h2 {
  /*margin-top: 44px;*/
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -0.4px;
}

.articleGroup h3 {
  margin-top: 60px;
  text-align: left;
  font-size: 31px;
  font-weight: normal;
  color: rgba(0,0,0,0.44);
}

.articleGroup p, .articleGroup li {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.16px;
}

.articleGroup p {
  margin-top: 30px;
}

.articleGroup h2 + p {
  margin-top: 8px;
}

.articleGroup a {
  color: black;
}

.articleGroup ul {
  margin-top: 32px;
  margin-left: 30px;
}

.articleGroup ul {
  list-style-type: disc;
}

.articleGroup li {
  margin-bottom: 14px;
}
